*{
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin:0px;
	padding:0px;
	color:#000;
}

h1{
	font-size:48px;
	font-weight:100;
}

h2{
	font-size:30px;
	font-weight:100;
}

h4{
	font-size:20px;
	font-weight:100;
}

.intro_bg{
	background-image:url("image/intro.jpg");
	background-size:cover;
	height:718px;
}

.contents_bg{
	background-image:url("image/intro.jpg");
	background-size:cover;
	height:1018px;
}

.header{
	display:flex;
	width:1280px;
	margin:auto;
	height:86px;
}

.search_area{
	width:300px;
	height:40px;
	background:rgba(0,0,0,0.5);
	border-radius:5px;
	margin-top:24px;
}

.search_area > form > input{
	border:none;
	width:250px;
	height:40px;
	background:rgba(0,0,0,0.0);
	color:white;
	padding-left:10px;
}

.search_area > form > span{
	width:50px;
	color:white;
	font-weight:bold;
	cursor:pointer;
}

.nav{
	display:flex;
	justify-content:flex-end;
	line-height:86px;
	width:980px;
}

.nav > li{
	margin-left:84px;
}

.nav > li > a{
	color:white;
}


.intro_text{
	width:100%;
	margin:231px auto 231px auto;
	text-align:center;
}

.intro_text > h1,
.intro_text > h4{
	color:white;
}

.contents_text{
	width:100%;
	margin:100px auto 100px auto;
	text-align:center;
}

.contents_text > h1,
.contents_text > h4{
	color:white;
}

.main_text0{
	width:100%;
	height:500px;
	background:#F2F2F2;
}

.main_text0 > h1{
	padding-top:120px;
	text-align:center;
}

.main_text0 > h4{
	text-align:center;
	margin-top:50px;
}

.main_text1{
	width:100%;
	height:629px;
	background:#F2F2F2;
}

.main_text1 > h1{
	padding-top:120px;
	text-align:center;
}

.introduction{
	width:600px;
	display:flex;
	margin:49px auto;
	height:310px;
}

.introduction > h4{
	padding:55px;
	text-align:center;
}

.detail{
	width:1000px;
	display:flex;
	margin:49px auto;
	height:310px;
}

.detail > h4{
	padding:55px;
	color:white
}

.main_text2{
	width:100%;
	height:2680px;
	background:#F2F2F2;
}

.main_text2 > h1{
	padding-top:120px;
	text-align:center;
}

.main_text2 > h4{
	text-align:center;
	margin-top:50px;
}

.movies1{
	display:flex;
	width:1280px;
	height:302px;
	background:#F2F2F2;
	margin:auto;
}

.movies1 > li{
	flex:1;
	background:white;
	margin-top:50px;
	height:302px;
	text-align:center;
}

.movies1 > li:not(:last-child){
	margin-right:20px;
}

.movies_bold{
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
}

.movies2{
	display:flex;
	width:1280px;
	height:302px;
	background:#F2F2F2;
	margin:auto;
}

.movies2 > li{
	flex:1;
	background:white;
	margin-top:210px;
	height:302px;
	text-align:center;
}

.movies2 > li:not(:last-child){
	margin-right:20px;
}

.movies3{
	display:flex;
	width:1280px;
	height:302px;
	background:#F2F2F2;
	margin:auto;
}

.movies3 > li{
	flex:1;
	background:white;
	margin-top:370px;
	height:302px;
	text-align:center;
}

.movies3 > li:not(:last-child){
	margin-right:20px;
}

.movies4{
	display:flex;
	width:1280px;
	height:302px;
	background:#F2F2F2;
	margin:auto;
}

.movies4 > li{
	flex:1;
	background:white;
	margin-top:530px;
	height:302px;
	text-align:center;
}

.movies4 > li:not(:last-child){
	margin-right:20px;
}

.movies5{
	display:flex;
	width:1280px;
	height:302px;
	background:#F2F2F2;
	margin:auto;
}

.movies5 > li{
	flex:1;
	background:white;
	margin-top:690px;
	height:302px;
	text-align:center;
}

.movies5 > li:not(:last-child){
	margin-right:20px;
}
